# Java / Maven
target/
*.iml
.idea/
*.log
.spring-*

# React / Node
node_modules/
build/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
